 *{
    font-family: Verdana, Tahoma, sans-serif;
 }

 body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("assets/background.avif.png");
 }

 main{
    width: 80vw;
    height: 80vh;
    background:linear-gradient(to bottom , #f8f8f8, #cfcfcf);
    border-radius: 15px;
    display: flex;
    align-items: center;

 }